<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>

    <div class="flex justify-center">
        <div class="p-10">
            <h1 class="text-red-600 text-2xl">Welcome to Home Page</h1>
            <div class="bg-red-600 w-5 h-1 rounded-full"></div>
        </div>
    </div>
    <div>
        <p class="text-red-600 text-center">Hello <%= username %> !</p>
    </div>
    <div class="flex justify-center p-5">
        <a href="/logout" class="bg-red-600 px-5 text-white rounded-full shadow-md">Logout</a>
    </div>
    
</body>
</html>